<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G page</title>
  <style>
    
    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
       height: 60vh;
        margin: 1.5rem auto;
    }
    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form-container label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    .form-container input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .form-container button {
        width: 100%;
        padding: 10px;
        background-color: rgb(95, 88, 88);
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
    }
    .form-container button:hover {
        background-color: white;
        color: rgb(95, 88, 88);
    }
</style>
</head>
<body>
  <%- include('../layouts/header');%>
  <div class="form-container">
    <h2>G Page</h2>
    <form id="licenseForm" action="/g/search" method="GET">
        <label for="license">License Number</label>
        <input type="text" id="license" name="license" required>
        
        <button type="submit">Submit</button>
    </form>

   <!-- Display user info -->
   <% if (user) { %>
    <h2>User Information</h2>
    <p>First Name: <%= user.firstname %></p>
    <p>Last Name: <%= user.lastname %></p>
    <p>Age: <%= user.age %></p>

    <!-- Car Details Form -->
    <h3>Update Car Details</h3>
    <form action="/g/update/<%= user._id %>" method="POST">
        <label>Make:</label>
        <input type="text" name="make" value="<%= user.car_details.make %>" required><br>
        <label>Model:</label>
        <input type="text" name="model" value="<%= user.car_details.model %>" required><br>
        <label>Year:</label>
        <input type="number" name="year" value="<%= user.car_details.year %>" required><br>
        <label>Plate Number:</label>
        <input type="text" name="plate" value="<%= user.car_details.plate %>" required><br>

        <button type="submit">Update</button>
    </form>
    <% } else { %>
      <p>No user found with this license number. Please enter a valid license number.</p>
    <% } %>

  <%- include('../layouts/footer')%>
</body>
</html>